version: "3.9"

services:
  wachterbot:
    container_name: wachterbot-testing
    image: ghcr.io/alexeyqu/wachter_bot/wachterbot:testing
    environment:
      - TELEGRAM_TOKEN=${TELEGRAM_TOKEN}
      - TELEGRAM_ERROR_CHAT_ID=${TELEGRAM_ERROR_CHAT_ID}
      - DATABASE_URL=${DATABASE_URL}
      - UPTRACE_DSN=${UPTRACE_DSN}
      - PERSISTENCE_DATABASE_URL=${PERSISTENCE_DATABASE_URL}
      - DEBUG=${DEBUG}
      - DEPLOYMENT_ENVIRONMENT=testing
      - TEAM_TELEGRAM_IDS=${TEAM_TELEGRAM_IDS}
    restart: unless-stopped
    networks:
      - internal
      - external

  postgres:
    image: postgres:alpine
    restart: always
    ports:
      - 5433:5432
    environment:
      POSTGRES_DB: db
      POSTGRES_HOST: postgres
      POSTGRES_USER: ${DATABASE_USER}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
    volumes:
      - volume-db:/data/db
      - postgres-data:/var/lib/postgresql/data
      - ./backup/db.sql:/docker-entrypoint-initdb.d/backupfile.sql
    healthcheck:
      test: pg_isready -U ${DATABASE_USER} -d db
      interval: 5s
      timeout: 2s
      retries: 3
    networks:
      - internal

  postgres-persistence:
    image: postgres:alpine
    restart: always
    ports:
      - 5434:5432
    environment:
      POSTGRES_DB: persistence-db
      POSTGRES_HOST: postgres-persistence
      POSTGRES_USER: ${PERSISTENCE_DATABASE_USER}
      POSTGRES_PASSWORD: ${PERSISTENCE_DATABASE_PASSWORD}
    volumes:
      - volume-persistence-db:/data/db
      - postgres-persistence-data:/var/lib/postgresql/data
      - ./backup/db-persistence.sql:/docker-entrypoint-initdb.d/backupfile.sql
    healthcheck:
      test: pg_isready -U ${PERSISTENCE_DATABASE_USER} -d persistence-db
      interval: 5s
      timeout: 2s
      retries: 3
    networks:
      - internal

volumes:
  volume-db:
  postgres-data:
  volume-persistence-db:
  postgres-persistence-data:

networks:
  external:
    name: network-wachterbot-testing
  internal:
    internal: true
