[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"psycopg2-binary" = "*"
python-telegram-bot = "*"
sqlalchemy = "*"
alembic = "*"
pre-commit = "*"
pylint = "*"
black = "*"

[dev-packages]
"autopep8" = "*"

[requires]
python_version = "3.6"
