[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
alembic = "*"
pre-commit = "*"
pylint = "*"
black = "*"
pyTelegramLogger = "*"
pytest = "*"
pytest-mock = "*"
httpcore = {extras = ["asyncio"], version = "*"}
asyncio = "*"
asyncpg = "*"
python-telegram-bot = {extras = ["job-queue"], version = "*"}
pytest-asyncio = "*"
aiosqlite = "*"

[dev-packages]
"autopep8" = "*"

[requires]
python_version = "3.9"
